body {
  margin: 0;
  font-family: Arial, sans-serif;
   margin: 0 100px ;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: #ddd;
}

.navbar input {
  width: 300px;
  padding: 5px;
}

.navbar button {
  padding: 8px 15px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 20px 0;
  gap: 20px;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.card {
  border: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.word {
  width: 40%;
}

.definition {
  width: 55%;
}

.like-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: gold;
  border: none;
  cursor: pointer;
}