* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ebf3eb;
    padding: 20px;
}

.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
    gap: 20px;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

img {
    width: 200px;
    height: 200px;
}

.padding-20 {
    padding: 20px;
}

.color-blue {
     background-color: #58c6e9;
}


.color-pink {
     background-color: #d3a4bd;
 }

.color-white {
     background-color: white;
}

.text-center {
    text-align: center;
}